@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.about-me-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.purple-elipse{
    right: 20%;
}


.about-me-content {
    display: flex;
    align-items: center;
    gap: 20px;
}


.about-me-content img {
    width: 350px;
    border-radius: 70px;
}

.about-me-content  p{
    max-width: 500px;
    text-align: start;
    color: #fff;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

.about-me-content .my-name{
    color: #fff;
    font-size: 28px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .about-me-content {
        flex-direction: column;
        text-align: center;
    }

    .about-me-content img {
        width: 250px;
    }

    .about-me-content p {
        max-width: 100%;
    }
}

@media (min-width: 1400px) {
    .about-me-content {
        gap: 40px;
    }

    .about-me-content img {
        width: 400px;
    }

    .about-me-content p {
        font-size: 16px;
        max-width: 600px;
    }
}