.tec-card {
  width: 250px;
  height: 250px;
  color: #fff;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'nunito', sans-serif;
  justify-content: space-around;
  background-color: #121212;
  border-radius: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: #ffffff52 1px solid;
}

.tectools-content .tec-area .tec-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.tec-card .tec-card-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  height: 20%;
}

.tec-card .tec-card-description {
    font-size: 16px;
    text-align: start;
    padding: 0 10px;
    margin: 0 5px;
}

.tec-card .tec-card-description p {
    margin: 0;
}