.certification-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
}

.certification-card {
  display: flex;
  align-items: center;
  gap: 50px;
}

.certification-card img{
  width: 450px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #FF4C94;
  transition: opacity 0.3s ease; ;
}

.carrosel-certificados {
  margin-top: 16px;
  display: flex;
  gap: 20px;
  justify-content: center;
}


.dot {
  width: 20px;
  height: 5px;
  background-color: #606060;
  border-radius: 3ch;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background-color: #dddddd;
}