header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100px;
  margin: 10px 5vw;
  position: relative;
}

header .purple-elipse {
  left: -20px;
}

header img {
  width: 100px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  text-align: center;
  gap: 1.3vw;
}


@media (min-width: 1500px) {
  .header-links {
    width: 50%;
  }
}