header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 10px 5vw;
  position: relative;
}

header .purple-elipse {
  left: -20px;
}

header img {
  width: 100px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  text-align: center;
  gap: 1.3vw;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 10010;
}

.hamburger ListIcon {
  transition: 0.3s;
}

@media (max-width: 768px) {

  header{
    height: 60px;
  }

  .header-links {
    display: flex;
    z-index: 10001;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background: #606060;
    opacity: 0.95;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: 0.3s;
  }

  .header-links.active {
    right: 0;
  }

  .hamburger {
    display: flex;
  }

}


@media (min-width: 1500px) {
  .header-links {
    width: 50%;
  }
}