.decorated-button {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  border: #fff 1px solid;
  padding: 0.8rem 2.2rem;
  border-radius: 100px;
}

.decorated-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}