footer {
  background-color: #030303;
  color: #fff;
  height: 100px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #FF4C94;
}