footer {
  background-color: #030303;
  height: 100px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.footer-content{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #FF4C94;
}