.contacts {
  display: flex;
  flex-direction: column;
}

.hero-section .contacts {
  gap: 20px;
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
}

.about-me-section .contacts {
  gap: 20px;
  position: absolute;
  margin-top: 20%;
  margin-left: 5px;
  transform: translateY(-50%);
}

footer .contacts {
  gap: 3px;
}


.about-me-section .contact-icons img {
  width: 44px;
  height: 44px;
  transition: transform 0.3s ease;
}

footer .contact-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.contact-icons img {
  width: 44px;
  height: 44px;
  transition: transform 0.3s ease;
}
.contact-icons img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {

  .about-me-section .contacts {
    position: absolute;
    transform: none;
    margin-top: 80px;
    left: 20px;
  }
}