.hero-section .contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: -100px; /* ajusta fino depois */
  top: 50%;
  transform: translateY(-50%);
}

.about-me-section .contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  margin-top: 10%;
  margin-left: 5px;
  transform: translateY(-50%);
}

.about-me-section .contact-icons img {
  width: 44px;
  height: 44px;
  transition: transform 0.3s ease;
}

.contact-icons img {
  width: 44px;
  height: 44px;
  transition: transform 0.3s ease;
}
.contact-icons img:hover {
  transform: scale(1.1);
}